:root{
  --bg:#03182a;
  --bg2:#021b28;
  --gold:#d4af37;
  --gold-light:#f7d76d;
  --text:#ffffff;
  --muted:rgba(255,255,255,0.7);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--bg);
  color:var(--text);
  font-family:'Segoe UI',sans-serif;
  overflow-x:hidden;
}

.main-container{
  max-width:1400px;
  margin:auto;
  padding:0 25px;
}


.navbar{
  position:fixed;
  top:15px;
  left:50%;
  transform:translateX(-50%);
  width:92%;
  height:82px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:14px 35px;

  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(18px);

  border:1px solid rgba(212,175,55,0.15);
  border-radius:20px;

  z-index:1000;

  box-shadow:0 10px 35px rgba(0,0,0,.35);
}

.logo{
  display:flex;
  align-items:center;
  gap:14px;
}

.logo img{
  width:70px;
  height:70px;
  object-fit:contain;
}

.logo-text{
  display:flex;
  flex-direction:column;
}

.logo h1{
  color:var(--gold);
  font-size:38px;
  font-weight:800;
  letter-spacing:2px;
}

.logo p{
  color:var(--gold-light);
  font-size:15px;
  margin-top:-3px;
}

.menu{
  display:flex;
  align-items:center;
  gap:28px;
}

.menu a{
  color:#fff;
  text-decoration:none;
  font-size:18px;
  font-weight:600;
  transition:.3s;
  position:relative;
}

.menu a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-8px;
  width:0%;
  height:2px;
  background:var(--gold);
  transition:.3s;
}

.menu a:hover{
  color:var(--gold);
}

.menu a:hover::after{
  width:100%;
}

.hero{
  position:relative;
  min-height:100vh;

  display:flex;
  justify-content:space-between;
  align-items:center;

  gap:60px;

  padding-top:140px;
  padding-bottom:60px;

  background:
  linear-gradient(rgba(2,20,35,.75),rgba(2,20,35,.75)),
  url('https://images.unsplash.com/photo-1529074963764-98f45c47344b?q=80&w=1600&auto=format&fit=crop');

  background-size:cover;
  background-position:center;
  overflow:hidden;
}

.overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(to right,
  rgba(5,20,40,.88),
  rgba(5,20,40,.2));
}
.hero-content{
  position:relative;
  z-index:2;

  max-width:600px;

  padding:45px;

  background:rgba(255,255,255,.05);
  backdrop-filter:blur(15px);

  border:1px solid rgba(212,175,55,.15);
  border-radius:28px;

  box-shadow:0 20px 50px rgba(0,0,0,.4);
}

.hero-content h1{
  font-size:52px;
  line-height:1.2;
  color:var(--gold);
  margin-bottom:15px;
}

.hero-content p{
  color:#fff;
  letter-spacing:1px;
}

.line{
  display:block;
  width:70px;
  height:3px;
  background:var(--gold);
  border-radius:20px;
  margin:18px 0;
}

.desc{
  color:#ddd;
  line-height:1.8;
  font-size:15px;
}
.btn{
  margin-top:28px;

  padding:14px 30px;

  border:none;
  border-radius:10px;

  background:var(--gold);
  color:#000;

  font-size:15px;
  font-weight:700;

  cursor:pointer;
  transition:.35s;
}

.btn:hover{
  background:#b8962e;
  transform:translateY(-3px);
  box-shadow:0 12px 25px rgba(212,175,55,.25);
}
.image-box{
  position:relative;

  overflow:hidden;

  border-radius:22px;

  border:2px solid rgba(212,175,55,.2);

  box-shadow:0 12px 35px rgba(0,0,0,.35);

  transition:.4s ease;
}

.image-box:hover{
  transform:translateY(-10px);
}

.image-box img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.image-box.airplane{
  width:560px;
  height:360px;
}
.about-section{
  padding:90px 7%;
  background:linear-gradient(to right,#021b28,#03182a);
}

.about-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:60px;
}

.about-text{
  flex:1;

  padding:40px;

  background:rgba(255,255,255,.04);
  backdrop-filter:blur(12px);

  border:1px solid rgba(212,175,55,.12);
  border-radius:24px;

  box-shadow:0 10px 35px rgba(0,0,0,.3);
}

.about-text h2{
  color:var(--gold);
  font-size:48px;
  margin-bottom:25px;
  position:relative;
}

.about-text h2::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-12px;

  width:85px;
  height:4px;

  border-radius:10px;

  background:var(--gold);
}

.about-text p{
  color:#f1f0ee;
  line-height:1.9;
  font-size:17px;
  margin-bottom:18px;
}

.about-text h3{
  color:#fff;
  margin-top:30px;
  font-size:24px;
}

.gold-role{
  color:var(--gold);
  font-size:14px;
  letter-spacing:2px;
}

.about-images{
  flex:1;

  display:flex;
  justify-content:center;
  align-items:center;
  gap:25px;
}

.about-images .image-box{
  width:300px;
  height:380px;
  flex-shrink:0;
}

.office-text{
  position:absolute;
  bottom:20px;
  left:20px;

  color:#fff;
  font-size:32px;
  font-weight:700;

  text-shadow:0 5px 15px rgba(0,0,0,.5);
}
.services-title{
  text-align:center;
  color:var(--gold);
  font-size:42px;
  margin-top:60px;
  margin-bottom:40px;
  letter-spacing:2px;
}

.top-services{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:22px;

  padding:0 20px 60px;
}

.service-box{
  width:200px;
  height:150px;

  background:#021b28;

  border-radius:20px;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  text-align:center;

  border:1px solid rgba(212,175,55,.15);

  transition:.4s ease;

  position:relative;
  overflow:hidden;
}

.service-box::before{
  content:"";

  position:absolute;
  top:-120%;
  left:-120%;

  width:220%;
  height:220%;

  background:linear-gradient(
    45deg,
    transparent,
    rgba(212,175,55,.08),
    transparent
  );

  transform:rotate(25deg);

  transition:.8s;
}

.service-box:hover::before{
  top:-40%;
  left:-40%;
}

.service-box:hover{
  transform:translateY(-10px);
  box-shadow:0 20px 40px rgba(0,0,0,.4);
}

.service-box i{
  color:var(--gold);
  font-size:32px;
  margin-bottom:14px;
}

.service-box p{
  color:#fff;
  font-size:14px;
  font-weight:700;
  line-height:1.7;
}

.clients-section{
  width:100%;
  background:#021b28;
  text-align:center;
  padding:30px 20px;
}

.clients-section h4{
  color:var(--gold);
  font-size:18px;
  letter-spacing:2px;
}

.clients-section p{
  color:#ddd;
  margin-top:10px;
}

.clients-row{
  width:100%;

  display:flex;
  justify-content:center;
  align-items:center;
  gap:22px;

  background:#021b28;

  padding:22px;

  border-top:1px solid rgba(212,175,55,.15);
}

.clients-item,
.airline{
  display:flex;
  align-items:center;
  gap:10px;
}

.clients-item i,
.airline i{
  color:var(--gold);
  font-size:24px;
}

.clients-item h5{
  color:var(--gold);
  font-size:14px;
}

.clients-item p{
  color:#fff;
  font-size:12px;
}

.clients-arrow,
.arrow-left{
  width:42px;
  height:42px;

  border:1px solid rgba(212,175,55,.25);
  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  background:rgba(255,255,255,.04);

  transition:.3s ease;
}

.clients-arrow:hover,
.arrow-left:hover{
  background:var(--gold);
  transform:translateY(-3px);
}

.clients-arrow:hover i,
.arrow-left:hover i{
  color:#03182a;
}

.clients-arrow i,
.arrow-left i{
  color:var(--gold);
  font-size:18px;
  transition:.3s;
}

.divider{
  width:2px;
  height:28px;
  background:var(--gold);
}

.airline-text{
  display:flex;
  flex-direction:column;
}

.airline-text .main{
  color:#fff;
  font-weight:700;
}

.airline-text .sub{
  color:#ccc;
  font-size:11px;
}
.footer{
  width:100%;

  display:grid;
  grid-template-columns:repeat(4,1fr);

  gap:40px;

  padding:60px 40px;

  background:#02112a;
}

.footer-brand,
.footer-left,
.footer-center,
.footer-right{
  display:flex;
  flex-direction:column;

  border-left:1px solid rgba(255,255,255,.1);

  padding-left:25px;
}

.footer-brand img{
  width:60px;
  margin-bottom:14px;
}

.footer h3,
.footer h4{
  color:var(--gold);
  margin-bottom:14px;
}

.footer p{
  color:#ccc;
  line-height:1.8;
  font-size:14px;
}

.footer-right a{
  color:#fff;
  text-decoration:none;
  margin-bottom:10px;
  transition:.3s;
}

.footer-right a:hover{
  color:var(--gold);
}

.contact-btn{
  display:inline-block;

  margin-top:15px;
  padding:12px 22px;

  background:var(--gold);
  color:#000;

  border-radius:8px;

  text-decoration:none;
  font-weight:700;

  transition:.3s;
}

.contact-btn:hover{
  background:#e6c200;
}
.whatsapp-float{
  position:fixed;

  bottom:20px;
  right:20px;

  width:60px;
  height:60px;

  border-radius:50%;

  background:#25D366;
  color:#fff;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:30px;

  z-index:999;

  box-shadow:0 5px 15px rgba(0,0,0,.3);

  transition:.3s;
}

.whatsapp-float:hover{
  transform:scale(1.1);
  background:#1ebe5d;
}
.reveal{
  opacity:0;
  transform:translateY(60px);
  transition:1s cubic-bezier(.2,.8,.2,1);
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}
@media (max-width:768px){

  body{
    overflow-x:hidden;
    background:#03182a;
  }

  .main-container{
    padding:0 12px;
  }
  .navbar{
    width:94%;
    height:78px;

    top:10px;
    left:50%;

    transform:translateX(-50%);

    padding:12px 18px;

    border-radius:18px;

    background:rgba(3,24,42,.92);

    backdrop-filter:blur(14px);

    border:1px solid rgba(212,175,55,.15);
  }

  .logo{
    gap:10px;
  }

  .logo img{
    width:48px;
    height:48px;
  }

  .logo h1{
    font-size:22px;
    letter-spacing:1px;
  }

  .logo p{
    font-size:10px;
  }

  .menu{
    position:absolute;

    top:85px;
    right:15px;

    width:220px;

    padding:20px;

    border-radius:18px;

    background:#021b28;

    border:1px solid rgba(212,175,55,.15);

    display:flex;
    flex-direction:column;

    gap:18px;

    opacity:0;
    visibility:hidden;

    transform:translateY(-15px);

    transition:.35s ease;

    z-index:999;
  }

  .menu-toggle{
    display:block;
    color:#fff;
    font-size:26px;
     cursor:pointer;

  }
  .menu.active{
    opacity:1;
    visibility:visible;

    transform:translateY(0);
}

  .hero{
    flex-direction:row;

    align-items:center;
    justify-content:space-between;

    gap:14px;

    min-height:auto;

    padding-top:120px;
    padding-bottom:40px;
  }

  .hero-content{
    width:52%;

    padding:20px 14px;

    border-radius:18px;

    background:rgba(255,255,255,.04);

    backdrop-filter:blur(12px);
  }

  .hero-content h1{
    font-size:25px;
    line-height:1.25;

    margin-bottom:10px;
  }

  .hero-content p{
    font-size:12px;
    line-height:1.6;
  }

  .desc{
    font-size:11px;
    line-height:1.7;
  }

  .line{
    width:45px;
    margin:14px 0;
  }

  .btn{
    margin-top:18px;

    width:100%;

    padding:12px 16px;

    font-size:12px;

    border-radius:12px;
  }

  .image-box.airplane{
    width:48%;
    height:320px;

    border-radius:18px;

    overflow:hidden;
  }

  .image-box.airplane img{
    width:100%;
    height:100%;
    object-fit:cover;
  }

  .about-section{
    padding:25px 0;
  }

  .about-container{
    flex-direction:row;

    align-items:center;

    gap:14px;
  }

  .about-text{
    width:52%;

    padding:18px 14px;

    border-radius:18px;
  }

  .about-text h2{
    font-size:24px;

    margin-bottom:18px;
  }

  .about-text h2::after{
    width:45px;
    height:3px;
  }

  .about-text p{
    font-size:11px;
    line-height:1.8;

    margin-bottom:12px;
  }

  .about-text h3{
    font-size:15px;
  }

  .gold-role{
    font-size:10px;
  }

  .about-images{
    width:48%;

    flex-direction:column;

    gap:12px;
  }

  .about-images .image-box{
    width:100%;
    height:150px;

    border-radius:16px;
  }


  .services-title{
    font-size:28px;

    margin-top:20px;
    margin-bottom:22px;
  }

  .top-services{
    gap:12px;

    padding:0 0 40px;
  }

  .service-box{
    width:47%;
    height:120px;

    border-radius:16px;
  }

  .service-box i{
    font-size:24px;
  }

  .service-box p{
    font-size:10px;
    line-height:1.5;
  }

  .clients-section{
    padding:20px 15px;
  }

  .clients-section h4{
    font-size:15px;
  }

  .clients-section p{
    font-size:11px;
  }

  .clients-row{
    flex-wrap:wrap;

    gap:12px;

    padding:18px 10px;
  }

  .divider{
    display:none;
  }

  .clients-item h5{
    font-size:12px;
  }

  .clients-item p{
    font-size:10px;
  }

  .airline-text .main{
    font-size:12px;
  }

  .airline-text .sub{
    font-size:9px;
  }

 .footer-brand,
  .footer-right{
    display:none;
  }
  footer{
 display:grid;

    grid-template-columns:1fr 1fr;

    gap:10px;

    padding:14px;
    transform:translateX(-4px);
  }
   
.footer-left,
  .footer-center{
  transform:scale(0.95);
    background:#03182a;

    border:1px solid rgba(212,175,55,0.35);

    border-radius:16px;

    padding:14px 12px;

    min-width:0;
  }
    
  .footer-left h3,
  .footer-center h3{

    color:#d4af37;

    font-size:12px;

    margin-bottom:10px;

    letter-spacing:1px;
  }
.footer-left p,
.footer-center p{

    color:#fff;

    font-size:10px;

    line-height:1.7;

    margin-bottom:6px;
    word-break:break-word;
  }
 .footer-center i{

    color:#d4af37;

    margin-right:6px;
  }
.mobile-connect-btn{

    display:inline-flex;

    align-items:center;

    gap:5px;

    margin-top:10px;

    color:#d4af37;

    text-decoration:none;

    font-size:11px;

    font-weight:600;
  }
  .mobile-connect-btn span{

    font-size:13px;
  }

}
  .whatsapp-float{
    width:52px;
    height:52px;

    font-size:24px;

    bottom:15px;
    right:15px;
  }

}
